<template>
  <AdminHeader />
  <main>
    <router-view
      :key="componentKey"
      @reRenderComponent="reRenderComponent"
      @changeTitle="onChangeTitle"
    />
  </main>
  <Footer />
</template>

<script>
import AdminHeader from "@/components/layouts/admin/Header";
import Footer from "@/components/layouts/commons/Footer";
import layout from "@/commons/layout";

export default {
  name: "AdminLayout",
  components: {
    Footer,
    AdminHeader,
  },
  setup() {
    const { componentKey, reRenderComponent, onChangeTitle } = layout();

    return { componentKey, reRenderComponent, onChangeTitle };
  },
};
</script>
