<template>
  <router-view
    :key="componentKey"
    @reRenderComponent="reRenderComponent"
    @changeTitle="onChangeTitle"
  />
</template>

<script>
import layout from "@/commons/layout";

export default {
  name: "EmptyLayout",
  setup() {
    const { componentKey, reRenderComponent, onChangeTitle } = layout();

    return { componentKey, reRenderComponent, onChangeTitle };
  },
};
</script>
